.ClockNumbers {
  display: flex;
  font-size: 35vw;
  font-weight: 650;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.ClockNumbersBlue {
  color: rgb(0, 204, 255);
}

.ClockColumnCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ClockRounds {
  display: flex;
  font-size: 3vw;
  font-weight: 650;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
