.App {
  text-align: center;
}

body {
  background-image: url("../img/logo_tlo.jpg");
  background-size: cover;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
  height:90vh;
}

.G-logo {
  color: rgb(196, 196, 196);
  text-align: right;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


