.App {
  text-align: center;
}

body {
  background-image: url("../img/logo_male.jpg");
  background-color: #cccccc;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.G-logo {
  color: white;
  text-align: right;
  vertical-align: bottom;
}
