.App {
  text-align: center;
}

body {
  background-image: url("../img/logo_male.jpg");
  background-color: #000000;
}


.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.G-logo {
  color: rgb(196, 196, 196);
  text-align: right;
}
